{% if product.metafields.custom.bundle_includes != blank %}
  <div class="bundle-include">
    <div class="included-section ">
      <h3>what's included:</h3>
      <div class="bundle-included">
        {% for metadata in product.metafields.custom.bundle_includes.value %}
         <div class="image-with-text">
            <a href="{{ metadata.bundle_product.value.url }}">
              {% if metadata.custom_product_image.value != blank %}
                <div class="included-image">
                    <img src="{{- settings.speedsize_url_pfx_https -}}{{ metadata.custom_product_image.value | img_url:"master" }}">
                </div>
                {% else %}
                 <div class="included-image">
                  <img src="{{- settings.speedsize_url_pfx_https -}}{{ metadata.bundle_product.value.featured_image | img_url:"master" }}">
                 </div>
              {% endif %}
              
              {% if metadata.heading.value != blank %}
                <div class="included-text">
                  {{ metadata.heading.value }}
                </div>
                {% else %}
                 <div class="included-text">
                  {{ metadata.bundle_product.value.title }}
                </div>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}