<div class="product__block">
        <details
          id="Details-{{ block.id }}-{{ section.id }}"
          class="accordion-details"
          is="accordion-group"
          {% if block.settings.default_open %}
            open
            aria-expanded="true"
          {% else %}
            aria-expanded="false"
          {% endif %}
        >
          <summary class="accordion-details__summary flex items-center justify-between">
            <div class="flex items-center gap-2">
             <h2 class="h4 inline-richtext">
               Why Choose Helloskin?
              </h2>
            </div>
            <div class="accordion_icon">{%- render 'icon-plus-toggle' -%}</div>
          </summary>
          <div class="accordion-details__content rte">
                  {% for block in section.blocks %}
                    {%- case block.type -%}
                      {% when 'why-helloskin' %}
                          <div class="inner_data">
                            {% if block.settings.logo != blank %}
                              <div class="accodions_logo"><img src="{{- settings.speedsize_url_pfx_https -}}{{ block.settings.logo | img_url:"master" }}"></div>
                            {% endif %}
                            <div class="accodions_content">
                              <h3 class="content_head">{{ block.settings.content_heading }}</h3>
                              <div class="accordion_inner_content">{{ block.settings.content | replace: '//cdn.shopify.com/', settings.speedsize_url_pfx_shopify_cdn | replace: settings.speedsize_shop_domain_cdn, settings.speedsize_url_pfx_shop_domain_cdn | replace: 'https:https:', 'https:' | replace: settings.speedsize_url_pfx_duplicated, settings.speedsize_url_pfx  }}</div>
                            </div>
                          </div>
                     {% endcase %}
                  {% endfor %}
          </div>
        </details>
</div>
