{% capture lazyloadcss %}
  

{%- liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
-%}
<!doctype html>
<html
  class="no-js{% if cart != empty %} cart-has-items{% endif %}"
  lang="{{ request.locale.iso_code }}"
  {% if enable_rtl %}
    dir="rtl"
  {% endif %}
>
  <head>
    {% render 'head-content' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
   
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{- settings.speedsize_url_pfx_https -}}{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
     <script type="load" d-src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>
      {{- page_title -}}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- if template == 'password' -%}
        {{- shop.name -}}
      {%- else -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      {%- endif -%}
    </title>

    {% if template contains "index" %}
      {% render "font-load" %}
      {% render "index-css" %}
    {% elsif template contains "collection" %}
      {% render "font-load" %}
      {% if template contains "list-collection" %}
          {% render 'list-collection-css' %}
      {% else %}
          {% render "collection-css" %}
      {% endif %}
    {% elsif template contains "product" %}
      {% render "font-load" %}
        {% render "product-css" %}
    {% endif %}

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape | replace: '//cdn.shopify.com/', settings.speedsize_url_pfx_shopify_cdn | replace: settings.speedsize_shop_domain_cdn, settings.speedsize_url_pfx_shop_domain_cdn | replace: 'https:https:', 'https:' | replace: settings.speedsize_url_pfx_duplicated, settings.speedsize_url_pfx   }}">
    {% endif %}

    {%- liquid
      render 'meta-tags'
      render 'css-variables'

      echo 'vendor.css' | asset_url | stylesheet_tag
      echo 'theme.css' | asset_url | stylesheet_tag

      if enable_rtl
        echo 'rtl.css' | asset_url | stylesheet_tag: preload: true
      endif
    -%}
    {{ 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css' | stylesheet_tag }}
    {{ 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css' | stylesheet_tag }}
    <script type="load" d-src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.Marquee/1.6.0/jquery.marquee.min.js" integrity="sha512-JHJv/L48s1Hod24iSI0u9bcF/JlUi+YaxliKdbasnw/U1Lp9xxWkaZ3O5OuQPMkVwOVXeFkF4n4176ouA6Py3A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ 'custom.css' | asset_url | stylesheet_tag }}
     {{ 'design.css' | asset_url | stylesheet_tag }}
     {{ 'bundle.css' | asset_url | stylesheet_tag }}
     {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
      {{ content_for_header }}
    {%- else -%}
      {% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
      {{ content_for_header2 | replace: ' async="async" ', ' type="load" ' | replace: ' defer="defer" ', ' type="load" ' | replace: " src=", " d-src="| replace: "DOMContentLoaded", "xDOMContentLoaded" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('xDOMContentLoaded', asyncLoad, false);" | replace: "addEventListener('load', prefetchAssets);", "addEventListener('xDOMContentLoaded', prefetchAssets);" | replace: "type='text/javascript' async=''", "type='load' " | replace: 'type="module" d-', 'dxt="module" type="load" d-' | replace: 'async dxt="module" type="load"', 'dxt="module"' | replace: '<script type="module">', '<script dxt="module" type="load">' }}
      <script>var trekkie=[];trekkie.integrations=!0;window.BOOMR={},window.BOOMR.version=true;</script>
    {%- endif -%}
     
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script type="load" d-src="{{ 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' }}"></script>
    

    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url | replace: '//cdn.shopify.com/', settings.speedsize_url_pfx_shopify_cdn | replace: settings.speedsize_shop_domain_cdn, settings.speedsize_url_pfx_shop_domain_cdn | replace: 'https:https:', 'https:' | replace: settings.speedsize_url_pfx_duplicated, settings.speedsize_url_pfx   }}" defer="defer"></script>
    {%- endif -%}

    <script>
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

    {%- if request.design_mode -%}
      <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- render 'js-variables' -%}

    {% comment %} Custom metafield for head tag like GTag tracking {% endcomment %}
    {{ shop.metafields.foxtheme.code_head.value }}
    {% comment %} End custom metafield for head tag like GTag tracking {% endcomment %}
    <link rel="preconnect" href="https://sfycdn.speedsize.com/" data-speedsize="auto">
    {% render 'app-block' %}
    {% render 'custom-css' %}
  </head>

  <body
    class="{{ request.page_type }}-template {{ template.suffix }} blocks-corner--{{ settings.blocks_corner_radius }}{% if request.design_mode %} shopify-design-mode{% endif %}"
    data-initializing
  >
    {% comment %} Custom metafield for body tag like GTag tracking {% endcomment %}
    {{ shop.metafields.foxtheme.code_body.value }}
    {% comment %} End custom metafield for body tab like GTag tracking {% endcomment %}

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {%- liquid
      if settings.enable_page_transition
        render 'page-transition'
      endif
    -%}

    <div class="site-wrapper min-height-screen">
      {% sections 'header-group' %}

      <main id="MainContent" class="main-content content-for-layout focus-none" role="main" tabindex="-1">
        {{ content_for_layout }}
      </main>

      {% sections 'footer-group' %}
    </div>

    {% sections 'overlay-group' %}
    {%- liquid
      if template.name == 'product'
        section 'sticky-atc-bar'
      endif
      if settings.enable_back_to_top
        render 'back-to-top'
      endif
    -%}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    {% if settings.pcard_show_quickview_button or settings.pcard_choose_options_actions == 'open_popup' %}
      <script src="{{ 'quick-view.js' | asset_url }}" defer="defer"></script>
    {% endif %}
       <script type="load" d-src="{{ 'custom.js' | asset_url }}"></script>
  {%- sections 'smi-group' -%}
  <script type="load">
  $("img").each(function(){
    if(this.hasAttribute("loading"))
   this.removeAttribute("loading");
});
  
</script>
{% render 'footer-app-block' %}
{% render 'foot-content' %}
</body>
</html>
  {% endcapture %}{% if template contains "index" or template contains "collection" or template contains "product" %}{{ lazyloadcss | replace: '<link href="', '<link d-href="' | replace: 'rel="stylesheet" href="', 'rel="stylesheet" d-href="' }}{% else %}{{ lazyloadcss }}{% endif %} 

