

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541879479102866606.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-541879479102866606.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541879479102866606.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-541879479102866606.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541879479102866606.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541879479102866606.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541879479102866606.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541879479102866606.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541879479102866606.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541879479102866606.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541879479102866606.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-541879479102866606.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-541879479102866606.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541879479102866606.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-541879479102866606.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-541879479102866606.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541879479102866606.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-541879479102866606.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-541879479102866606.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-541879479102866606.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541879479102866606.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541879479102866606.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541879479102866606.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541879479102866606.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-541879479102866606.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-541879479102866606.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-541879479102866606.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-541879479102866606.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541879479102866606.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-541879479102866606.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541879479102866606.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-541879479102866606.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-541879479102866606.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-541879479102866606.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-541879479102866606.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-541879479102866606.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-541879479102866606.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-541879479102866606.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541879479102866606.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541879479102866606.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541879479102866606.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541879479102866606.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541879479102866606.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541879479102866606.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541879479102866606.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541879479102866606.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-541879479102866606.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-541879479102866606.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-541879479102866606.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-541879479102866606.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-541879479102866606.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-541879479102866606.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-541879479102866606.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-541879479102866606.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-541879479102866606.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541879479102866606.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541879479102866606.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-541879479102866606.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-541879479102866606.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-541879479102866606.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-541879479102866606.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-541879479102866606.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-541879479102866606.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-541879479102866606.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-541879479102866606.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-541879479102866606.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-541879479102866606.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541879479102866606.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541879479102866606.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-541879479102866606.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-541879479102866606 .gp-relative{position:relative}.gps-541879479102866606 .gp-z-1{z-index:1}.gps-541879479102866606 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541879479102866606 .gp-mb-0{margin-bottom:0}.gps-541879479102866606 .gp-flex{display:flex}.gps-541879479102866606 .gp-inline-flex{display:inline-flex}.gps-541879479102866606 .gp-grid{display:grid}.gps-541879479102866606 .gp-contents{display:contents}.gps-541879479102866606 .\!gp-hidden{display:none!important}.gps-541879479102866606 .gp-hidden{display:none}.gps-541879479102866606 .gp-h-full{height:100%}.gps-541879479102866606 .gp-w-full{width:100%}.gps-541879479102866606 .gp-max-w-full{max-width:100%}.gps-541879479102866606 .gp-shrink-0{flex-shrink:0}.gps-541879479102866606 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-541879479102866606 .gp-flex-col{flex-direction:column}.gps-541879479102866606 .gp-items-center{align-items:center}.gps-541879479102866606 .gp-justify-center{justify-content:center}.gps-541879479102866606 .gp-gap-y-0{row-gap:0}.gps-541879479102866606 .gp-overflow-hidden{overflow:hidden}.gps-541879479102866606 .gp-break-words{overflow-wrap:break-word}.gps-541879479102866606 .gp-rounded-none{border-radius:0}.gps-541879479102866606 .gp-text-center{text-align:center}.gps-541879479102866606 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-541879479102866606 .gp-no-underline{text-decoration-line:none}.gps-541879479102866606 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541879479102866606 .gp-duration-200{transition-duration:.2s}.gps-541879479102866606 .gp-duration-300{transition-duration:.3s}.gps-541879479102866606 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541879479102866606 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-541879479102866606 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-541879479102866606 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-541879479102866606 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-541879479102866606 .tablet\:\!gp-hidden{display:none!important}.gps-541879479102866606 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-541879479102866606 .mobile\:\!gp-hidden{display:none!important}.gps-541879479102866606 .mobile\:gp-hidden{display:none}}.gps-541879479102866606 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-541879479102866606 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-541879479102866606 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-541879479102866606 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-541879479102866606 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-541879479102866606 .\[\&_p\]\:gp-inline p{display:inline}.gps-541879479102866606 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-541879479102866606 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-541879479102866606 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gZLNpJK75t" data-id="gZLNpJK75t"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:119px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZLNpJK75t gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTLyyR9-95 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gUVh0zcxpQ" data-id="gUVh0zcxpQ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pb:50px;--mb-mobile:0px;--pb-mobile:68px;--pos:static;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F2F2F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUVh0zcxpQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyagIaSnGu gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gpp1WQKsY0" data-id="gpp1WQKsY0"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:16px;--pl:15px;--pr:15px;--mb-mobile:14px;--pl-mobile:15px;--pr-mobile:15px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:900px;--w-tablet:700px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpp1WQKsY0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gydeh5QKT6 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gY_v2gmaN3"
    role="presentation"
    class="gp-group/image gY_v2gmaN3"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:-89px;--mb:24px;--mt-mobile:-77px;--mb-mobile:28px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{- settings.speedsize_url_pfx_https -}}{{ "gempages_541166679116219322-3e63354e-c3ab-4dbc-9b8e-69bbd9e8b2ed_768x.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjEyLTIxMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgZmlsbD0idXJsKCNnLTIxMi0yMTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTIiIHRvPSIyMTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{- settings.speedsize_url_pfx_https -}}{{ "gempages_541166679116219322-3e63354e-c3ab-4dbc-9b8e-69bbd9e8b2ed_1024x.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjEyLTIxMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgZmlsbD0idXJsKCNnLTIxMi0yMTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTIiIHRvPSIyMTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjEyLTIxMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgZmlsbD0idXJsKCNnLTIxMi0yMTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTIiIHRvPSIyMTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{- settings.speedsize_url_pfx_https -}}{{ "gempages_541166679116219322-3e63354e-c3ab-4dbc-9b8e-69bbd9e8b2ed.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:211px;--w-tablet:211px;--w-mobile:170px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gY_v2gmaN3">
        .gY_v2gmaN3 {

}
.gY_v2gmaN3 > figure > img {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gWdkenY2PI">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gWdkenY2PI "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:12px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggWdkenY2PI_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gIiW6-3ngf">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gIiW6-3ngf "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:16px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:350%;--w-tablet:350%;--w-mobile:350%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIiW6-3ngf_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gIiW6-3ngf">
        .gIiW6-3ngf {

}
.gIiW6-3ngf p {

}
      </style>
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--ta:center"
    
  >
    <style>
    .g6ywFOTl7k.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 300px;
      border-bottom-right-radius: 300px;
      border-top-left-radius: 300px;
      border-top-right-radius: 300px;
      
    }

    .g6ywFOTl7k:hover::before {
      
      
    }

    .g6ywFOTl7k:hover .gp-button-icon {
      color: undefined;
    }

     .g6ywFOTl7k .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g6ywFOTl7k:hover .gp-button-price {
      color: undefined;
    }

    .g6ywFOTl7k .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g6ywFOTl7k .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g6ywFOTl7k:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#scroll-to-top" target="_self" data-id="g6ywFOTl7k" aria-label="Shop Now"
      
      data-state="idle"
      class="g6ywFOTl7k gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#575757;--bg:#111111;--bblr:300px;--bbrr:300px;--btlr:300px;--btrr:300px;--shadow:none;--w:395px;--w-tablet:395px;--w-mobile:395px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:14px;--pb:14px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817714167153000">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,109.66-32,32a8,8,0,0,1-11.32-11.32L148.69,136H88a8,8,0,0,1,0-16h60.69l-18.35-18.34a8,8,0,0,1,11.32-11.32l32,32A8,8,0,0,1,173.66,133.66Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.gg6ywFOTl7k_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-g6ywFOTl7k">
        button.g6ywFOTl7k {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-541879479102866606 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/helloskin-com-au/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=541524673230275445&sectionId=541879479102866606)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWdkenY2PI_text","label":"ggWdkenY2PI_text","default":"100% Money-Back Guarantee"},{"type":"html","id":"ggIiW6-3ngf_text","label":"ggIiW6-3ngf_text","default":"<p>Our 100% Money-Back Guarantee means you can try the Helloskin Handset V3 with complete confidence.&nbsp;</p><p>&nbsp;</p><p>We believe in the power of our technology and the results it delivers, but if you’re not satisfied, we’ll refund your purchase!</p><p>&nbsp;</p><p>It’s our promise to you: skincare that works or your money back. With nothing to lose and everything to gain, why not experience the glow for yourself?&nbsp;</p><p>&nbsp;</p><p>Your journey to radiant, youthful skin starts risk-free today!</p>"},{"type":"html","id":"gg6ywFOTl7k_label","label":"gg6ywFOTl7k_label","default":"Shop Now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
