

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-542287330808890372.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-542287330808890372.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-542287330808890372.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-542287330808890372.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-542287330808890372.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-542287330808890372.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-542287330808890372.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-542287330808890372.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-542287330808890372.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-542287330808890372.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-542287330808890372.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-542287330808890372.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-542287330808890372.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-542287330808890372.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-542287330808890372.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-542287330808890372.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-542287330808890372.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-542287330808890372.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-542287330808890372.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-542287330808890372.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-542287330808890372.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-542287330808890372.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-542287330808890372.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-542287330808890372.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-542287330808890372.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-542287330808890372.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-542287330808890372.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-542287330808890372.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-542287330808890372.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-542287330808890372.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-542287330808890372.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-542287330808890372.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-542287330808890372.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-542287330808890372.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-542287330808890372.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-542287330808890372.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-542287330808890372.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-542287330808890372.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-542287330808890372.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-542287330808890372.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-542287330808890372.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-542287330808890372.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-542287330808890372.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-542287330808890372.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-542287330808890372.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-542287330808890372.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-542287330808890372.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-542287330808890372.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-542287330808890372.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-542287330808890372.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-542287330808890372.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-542287330808890372.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-542287330808890372.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-542287330808890372.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-542287330808890372.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-542287330808890372.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-542287330808890372.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-542287330808890372.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-542287330808890372.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-542287330808890372.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-542287330808890372.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-542287330808890372.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-542287330808890372.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-542287330808890372 .gp-relative{position:relative}.gps-542287330808890372 .gp-z-1{z-index:1}.gps-542287330808890372 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-542287330808890372 .gp-mb-0{margin-bottom:0}.gps-542287330808890372 .gp-flex{display:flex}.gps-542287330808890372 .gp-inline-flex{display:inline-flex}.gps-542287330808890372 .gp-grid{display:grid}.gps-542287330808890372 .\!gp-hidden{display:none!important}.gps-542287330808890372 .gp-hidden{display:none}.gps-542287330808890372 .gp-h-full{height:100%}.gps-542287330808890372 .gp-max-w-full{max-width:100%}.gps-542287330808890372 .gp-flex-col{flex-direction:column}.gps-542287330808890372 .gp-items-center{align-items:center}.gps-542287330808890372 .gp-justify-center{justify-content:center}.gps-542287330808890372 .gp-gap-y-0{row-gap:0}.gps-542287330808890372 .gp-overflow-hidden{overflow:hidden}.gps-542287330808890372 .gp-break-words{overflow-wrap:break-word}.gps-542287330808890372 .gp-rounded-none{border-radius:0}.gps-542287330808890372 .gp-text-center{text-align:center}.gps-542287330808890372 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-542287330808890372 .gp-no-underline{text-decoration-line:none}.gps-542287330808890372 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542287330808890372 .gp-duration-200{transition-duration:.2s}.gps-542287330808890372 .gp-duration-300{transition-duration:.3s}.gps-542287330808890372 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542287330808890372 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-542287330808890372 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-542287330808890372 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-542287330808890372 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-542287330808890372 .tablet\:\!gp-hidden{display:none!important}.gps-542287330808890372 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-542287330808890372 .mobile\:\!gp-hidden{display:none!important}.gps-542287330808890372 .mobile\:gp-hidden{display:none}}.gps-542287330808890372 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-542287330808890372 .\[\&_p\]\:gp-inline p{display:inline}.gps-542287330808890372 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-542287330808890372 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-542287330808890372 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g2M2XBXeXU" data-id="g2M2XBXeXU"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:80px;--pl:15px;--pb:48px;--pr:15px;--pt-mobile:70px;--pl-mobile:15px;--pb-mobile:42px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F7F4FF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2M2XBXeXU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcJzU45C5O gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gsk0ITqL33" data-id="gsk0ITqL33"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsk0ITqL33 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNzFMRUg-m gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0lpvmZtPO">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g0lpvmZtPO "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:4px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0lpvmZtPO_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g0lpvmZtPO">
        .g0lpvmZtPO {

}
.g0lpvmZtPO p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="guwTnSzGrk">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="guwTnSzGrk "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:48px;--mb-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#23034D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gguwTnSzGrk_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="ghhoIp8oIr" data-id="ghhoIp8oIr"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:32px;--mb-mobile:14px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghhoIp8oIr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDBzcVA3FA gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gL6tUhG91b">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gL6tUhG91b "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggL6tUhG91b_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gL6tUhG91b">
        .gL6tUhG91b {

}
.gL6tUhG91b p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g3W7jB1Yj-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g3W7jB1Yj- "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:12px;--pl:24px;--pr:24px;--mb-mobile:14px;--pl-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3W7jB1Yj-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g3W7jB1Yj-">
        .g3W7jB1Yj- {

}
.g3W7jB1Yj- p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggGHYb4FAg gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gFZVdzMhML" data-id="gFZVdzMhML"
        style="--bs:solid;--bw:1px 0px 1px 0px;--bc:#575757;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pt-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFZVdzMhML gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnzhgnjrIU gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAwEuDg2Ug">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gAwEuDg2Ug "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAwEuDg2Ug_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gAwEuDg2Ug">
        .gAwEuDg2Ug {

}
.gAwEuDg2Ug p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="grZcqVqehp">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="grZcqVqehp "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pl:24px;--pr:24px;--mb-mobile:14px;--pl-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggrZcqVqehp_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-grZcqVqehp">
        .grZcqVqehp {

}
.grZcqVqehp p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gZM9SQISyK" data-id="gZM9SQISyK"
        style="--bs:solid;--bw:0px 1px 0px 1px;--bc:#575757;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pt-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZM9SQISyK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5wAHXdZd0 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUZDPrObQT">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gUZDPrObQT "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUZDPrObQT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gUZDPrObQT">
        .gUZDPrObQT {

}
.gUZDPrObQT p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gG3BrP7dSn">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gG3BrP7dSn "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pl:24px;--pr:24px;--mb-mobile:14px;--pl-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggG3BrP7dSn_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gG3BrP7dSn">
        .gG3BrP7dSn {

}
.gG3BrP7dSn p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkb6u0djT6 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gjVMxM887-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gjVMxM887- "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggjVMxM887-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gjVMxM887-">
        .gjVMxM887- {

}
.gjVMxM887- p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gtdopqDHDI">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gtdopqDHDI "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pl:24px;--pr:24px;--mb-mobile:14px;--pl-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtdopqDHDI_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gtdopqDHDI">
        .gtdopqDHDI {

}
.gtdopqDHDI p {

}
      </style>
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:13px;--ta:center"
    
  >
    <style>
    .gOm_G2HeWt.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gOm_G2HeWt:hover::before {
      
      
    }

    .gOm_G2HeWt:hover .gp-button-icon {
      color: undefined;
    }

     .gOm_G2HeWt .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gOm_G2HeWt:hover .gp-button-price {
      color: undefined;
    }

    .gOm_G2HeWt .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gOm_G2HeWt .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gOm_G2HeWt:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#scroll-to-top" target="_self" data-id="gOm_G2HeWt" aria-label="SHOP NOW"
      
      data-state="idle"
      class="gOm_G2HeWt gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#6C3CAB;--bg:#23034D;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:241px;--w-tablet:241px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggOm_G2HeWt_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gOm_G2HeWt">
        button.gOm_G2HeWt {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gX-grR-Ai7">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gX-grR-Ai7 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:16px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggX-grR-Ai7_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gX-grR-Ai7">
        .gX-grR-Ai7 {

}
.gX-grR-Ai7 p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-542287330808890372 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/helloskin-com-au/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=542287330623357956&sectionId=542287330808890372)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg0lpvmZtPO_text","label":"gg0lpvmZtPO_text","default":"<p>#1 ACNE SOLUTION</p>"},{"type":"html","id":"gguwTnSzGrk_text","label":"gguwTnSzGrk_text","default":"Helloskin Azelaic Acid Serum"},{"type":"html","id":"ggL6tUhG91b_text","label":"ggL6tUhG91b_text","default":"<p>98%</p>"},{"type":"html","id":"gg3W7jB1Yj-_text","label":"gg3W7jB1Yj-_text","default":"<p>Of users noticed a difference within 3 weeks using the serum morning and night</p>"},{"type":"html","id":"ggAwEuDg2Ug_text","label":"ggAwEuDg2Ug_text","default":"<p>96%</p>"},{"type":"html","id":"ggrZcqVqehp_text","label":"ggrZcqVqehp_text","default":"<p>Of customers were satisfied with their purchase and were pleased with results</p>"},{"type":"html","id":"ggUZDPrObQT_text","label":"ggUZDPrObQT_text","default":"<p>96%</p>"},{"type":"html","id":"ggG3BrP7dSn_text","label":"ggG3BrP7dSn_text","default":"<p>Of customers were satisfied with their purchase and were pleased with results</p>"},{"type":"html","id":"ggjVMxM887-_text","label":"ggjVMxM887-_text","default":"<p>89%</p>"},{"type":"html","id":"ggtdopqDHDI_text","label":"ggtdopqDHDI_text","default":"<p>Of customers used the helloskin cleanser and moisturiser as part of their routine</p>"},{"type":"html","id":"ggOm_G2HeWt_label","label":"ggOm_G2HeWt_label","default":"SHOP NOW"},{"type":"html","id":"ggX-grR-Ai7_text","label":"ggX-grR-Ai7_text","default":"<p>30-Day Money-Back Guarantee</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
