

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541880555059282809.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541880555059282809.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541880555059282809.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541880555059282809.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541880555059282809.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541880555059282809.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541880555059282809.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541880555059282809.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541880555059282809.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541880555059282809.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-541880555059282809.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541880555059282809.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541880555059282809.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541880555059282809.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541880555059282809.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541880555059282809.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541880555059282809.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541880555059282809.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-541880555059282809.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-541880555059282809.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541880555059282809.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541880555059282809.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541880555059282809.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541880555059282809.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541880555059282809.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541880555059282809.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541880555059282809.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541880555059282809.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-541880555059282809.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-541880555059282809.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-541880555059282809.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541880555059282809.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541880555059282809.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-541880555059282809.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541880555059282809.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541880555059282809.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-541880555059282809 .gp-relative{position:relative}.gps-541880555059282809 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541880555059282809 .gp-mb-0{margin-bottom:0}.gps-541880555059282809 .gp-flex{display:flex}.gps-541880555059282809 .gp-grid{display:grid}.gps-541880555059282809 .\!gp-hidden{display:none!important}.gps-541880555059282809 .gp-hidden{display:none}.gps-541880555059282809 .gp-max-w-full{max-width:100%}.gps-541880555059282809 .gp-flex-col{flex-direction:column}.gps-541880555059282809 .gp-gap-y-0{row-gap:0}.gps-541880555059282809 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541880555059282809 .gp-duration-200{transition-duration:.2s}.gps-541880555059282809 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-541880555059282809 .tablet\:\!gp-hidden{display:none!important}.gps-541880555059282809 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-541880555059282809 .mobile\:\!gp-hidden{display:none!important}.gps-541880555059282809 .mobile\:gp-hidden{display:none}}.gps-541880555059282809 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gU6OF9AcYU" data-id="gU6OF9AcYU"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gU6OF9AcYU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g3hFuvCgFu gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--mb:var(--g-s-2xl)" class="gL_Hy65Ldt ">
      
    <script defer strategy="lazyOnload" src="//loox.io/widget/loox.js?shop={{ request.host | replace: '//cdn.shopify.com/', settings.speedsize_url_pfx_shopify_cdn | replace: settings.speedsize_shop_domain_cdn, settings.speedsize_url_pfx_shop_domain_cdn | replace: 'https:https:', 'https:' | replace: settings.speedsize_url_pfx_duplicated, settings.speedsize_url_pfx   }}"></script>
    <div
      
      style="--ta:left"
    >
      {% if 'reviews_widget' == "rating_widget"  %}
        {% if 'false' == 'true' %}
          {% if shop.metafields.loox["global_stats"]  %}
            {% assign looxstats = shop.metafields.loox["global_stats"] | split: ',' %} 
            <a href="#looxReviews">
              <div class="loox-rating" data-rating="{{ looxstats[0] }}" data-raters="{{ looxstats[1] }}"></div>
            </a>
          {% endif %}
        {% else %}
          <a href="#looxReviews">
            <div id="looxReviews" data-product-id="{{ product.id }}"></div>
          </a>
        {% endif %}
      {% else %}
        <div id="looxReviews" data-product-id="{{ product.id }}"></div>
      {% endif %}
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 19",
    "tag": "section",
    "class": "gps-541880555059282809 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/helloskin-com-au/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=541524673230275445&sectionId=541880555059282809)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
