

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-542287330808497156.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-542287330808497156.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-542287330808497156.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-542287330808497156.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-542287330808497156.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-542287330808497156.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-542287330808497156.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-542287330808497156.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-542287330808497156.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-542287330808497156.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-542287330808497156.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-542287330808497156.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-542287330808497156.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-542287330808497156.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-542287330808497156.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-542287330808497156.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-542287330808497156.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-542287330808497156.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-542287330808497156.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-542287330808497156.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-542287330808497156.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-542287330808497156.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-542287330808497156.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-542287330808497156.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-542287330808497156.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-542287330808497156.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-542287330808497156.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-542287330808497156.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-542287330808497156.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-542287330808497156.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-542287330808497156.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-542287330808497156.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-542287330808497156.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-542287330808497156.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-542287330808497156.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-542287330808497156.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-542287330808497156.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-542287330808497156.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-542287330808497156.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-542287330808497156.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-542287330808497156.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-542287330808497156.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-542287330808497156.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-542287330808497156.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-542287330808497156.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-542287330808497156.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-542287330808497156.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-542287330808497156.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-542287330808497156.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-542287330808497156.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-542287330808497156.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-542287330808497156.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-542287330808497156.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-542287330808497156.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-542287330808497156.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-542287330808497156.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-542287330808497156.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-542287330808497156.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-542287330808497156.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-542287330808497156.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-542287330808497156.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-542287330808497156 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-542287330808497156 .gp-relative{position:relative}.gps-542287330808497156 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-542287330808497156 .gp-mb-0{margin-bottom:0}.gps-542287330808497156 .gp-flex{display:flex}.gps-542287330808497156 .gp-grid{display:grid}.gps-542287330808497156 .gp-contents{display:contents}.gps-542287330808497156 .\!gp-hidden{display:none!important}.gps-542287330808497156 .gp-hidden{display:none}.gps-542287330808497156 .gp-h-full{height:100%}.gps-542287330808497156 .gp-w-full{width:100%}.gps-542287330808497156 .gp-max-w-full{max-width:100%}.gps-542287330808497156 .gp-flex-col{flex-direction:column}.gps-542287330808497156 .gp-gap-y-0{row-gap:0}.gps-542287330808497156 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-542287330808497156 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542287330808497156 .gp-duration-200{transition-duration:.2s}.gps-542287330808497156 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-542287330808497156 .tablet\:\!gp-hidden{display:none!important}.gps-542287330808497156 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-542287330808497156 .mobile\:\!gp-hidden{display:none!important}.gps-542287330808497156 .mobile\:gp-hidden{display:none}}.gps-542287330808497156 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-542287330808497156 .\[\&_p\]\:gp-inline p{display:inline}.gps-542287330808497156 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-542287330808497156 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gYsq3blZZE" data-id="gYsq3blZZE"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYsq3blZZE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gE8hSkDJW_ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g5C1b_rJdi" data-id="g5C1b_rJdi"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5C1b_rJdi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="grJYH4LZbA gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ghWmKdIytl"
    role="presentation"
    class="gp-group/image ghWmKdIytl"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{- settings.speedsize_url_pfx_https -}}{{ "gempages_541166679116219322-a1095f25-fbe6-429c-8f59-c69b27da875d_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNjIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTE2MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNjIwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xNjIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{- settings.speedsize_url_pfx_https -}}{{ "gempages_541166679116219322-a1095f25-fbe6-429c-8f59-c69b27da875d_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNjIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTE2MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNjIwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xNjIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNjIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTE2MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNjIwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xNjIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{- settings.speedsize_url_pfx_https -}}{{ "gempages_541166679116219322-a1095f25-fbe6-429c-8f59-c69b27da875d.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--objf:cover;--w-tablet:100%;--w-mobile:100%;--h:700px;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gGFw2Y3gZW gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRepc61YZG">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gRepc61YZG "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mt-mobile:var(--g-s-2xl);--mb-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRepc61YZG_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHKkqsZ3or">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gHKkqsZ3or "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggHKkqsZ3or_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gJkfdyb5cy" data-id="gJkfdyb5cy"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJkfdyb5cy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gRzd0W0Rk3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcLInzejuZ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gcLInzejuZ "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mt-mobile:var(--g-s-2xl);--mb-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggcLInzejuZ_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdWJWaYcFD">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gdWJWaYcFD "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdWJWaYcFD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gpN1Pq0A1d gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gI-2LIrM4A"
    role="presentation"
    class="gp-group/image gI-2LIrM4A"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{- settings.speedsize_url_pfx_https -}}{{ "gempages_541166679116219322-05579610-bdd7-4894-ba8a-258d9f5c39cb_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNjIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTE2MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNjIwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xNjIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{- settings.speedsize_url_pfx_https -}}{{ "gempages_541166679116219322-05579610-bdd7-4894-ba8a-258d9f5c39cb_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNjIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTE2MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNjIwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xNjIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNjIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTE2MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNjIwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xNjIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{- settings.speedsize_url_pfx_https -}}{{ "gempages_541166679116219322-05579610-bdd7-4894-ba8a-258d9f5c39cb.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--objf:cover;--w-tablet:100%;--w-mobile:100%;--h:700px;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-542287330808497156 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/helloskin-com-au/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=542287330623357956&sectionId=542287330808497156)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggRepc61YZG_text","label":"ggRepc61YZG_text","default":"Teens/Tweens Acne Solution"},{"type":"html","id":"ggHKkqsZ3or_text","label":"ggHKkqsZ3or_text","default":"<p>Navigating the teen years is tough enough—acne shouldn’t make it harder! The Helloskin Anti-Acne Serum is specially formulated for teens and tweens to tackle those first signs of breakouts. With gentle yet effective ingredients like <strong>Azelaic Acid</strong> to reduce blemishes and <strong>Niacinamide</strong> to calm redness, it’s the perfect addition to growing skincare routines.</p><p>&nbsp;</p><p>Lightweight and non-greasy, it’s designed to balance oil, smooth skin texture, and keep irritation at bay—because young skin deserves extra care.</p><p>&nbsp;</p><p><strong>Key Benefits:</strong></p><p>• <strong>Targets Breakouts:</strong> Reduces pimples, blackheads, and whiteheads effectively.</p><p>• <strong>Calms Redness:</strong> Soothes inflamed skin for a more even complexion.</p><p>• <strong>Balances Oil:</strong> Keeps excess shine under control without drying out the skin.</p><p>• <strong>Improves Skin Texture: Smooths rough patches for softer skin.</strong></p><p>• <strong>Gentle on Young Skin:</strong> Free from harsh chemicals, making it perfect for sensitive teen and tween skin.</p><p>&nbsp;</p><p>Say goodbye to stubborn spots and hello to clearer, happier skin, all with a product that’s made just for you!</p>"},{"type":"html","id":"ggcLInzejuZ_text","label":"ggcLInzejuZ_text","default":"Adult Acne &amp; Breakouts"},{"type":"html","id":"ggdWJWaYcFD_text","label":"ggdWJWaYcFD_text","default":"<p>Dealing with acne as an adult can feel frustrating, but clear skin is within reach! The Helloskin Anti-Acne Serum is specially formulated to target stubborn adult breakouts while being gentle on your skin. With powerful ingredients like <strong>Azelaic Acid</strong> to fight blemishes and <strong>Niacinamide</strong> to calm irritation, it fits seamlessly into your busy routine.</p><p>&nbsp;</p><p>Lightweight and fast-absorbing, it works to balance oil production, reduce redness, and improve skin texture—because breakouts don’t belong in adulthood, and your skin deserves nothing less than the best.</p><p>&nbsp;</p><p><strong>Key Benefits:</strong></p><p>• <strong>Fights Stubborn Acne:</strong> Targets persistent pimples, blackheads, and hormonal breakouts.</p><p>• <strong>Reduces Redness:</strong> Calms inflamed skin for a smoother, more even look.</p><p>• <strong>Balances Oil Production:</strong> Controls shine without over-drying.</p><p>• <strong>Refines Skin Texture:</strong> Smooths rough areas for a polished finish.</p><p>• <strong>Gentle Yet Effective:</strong> Designed to work with your skin, not against it, even for sensitive types.</p><p>&nbsp;</p><p>Take control of your skin with a formula that works as hard as you do—say goodbye to adult breakouts and hello to your best complexion yet!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
